---
layout: base
---
<h4>Welcome.</h4>
    
<p>This website...</p>
    <ul>
        <li>compiles personal <a class="link" href="/posts">posts</a>
        <li>links my <a href="https://tintaenlascintas.co" target="_blank"><b>Tinta en las Cintas</b></a> articles [ES]</li>
        <li>documents <a class="link" href="/books">books</a>, <a class="link" href="/films">films</a> and <a class="link" href="/music">records</a> I ❤</li>
        <li>(is) a personal web space with all things worth posting</li>
    </ul>

<h4>The Archive</h4>

<div class="content-grid">
    {% for post in site.posts %}
    {% include category-icons.html %}
    <div class="post-info">{% if post.external_url %}<a class="post-title-link" href="{{ post.external_url }}" target="_blank">{{ post.title }}</a>
        <br />{% include date.html %}
        {% else %}<a class="post-title-link" href="{{ post.url }}">{{ post.title }}</a>
        <br />{% include date.html %}
        {% endif %}
    </div>
    {% endfor %}
</div>


