
{% assign icon = post.category %}
{% case icon %}
    {% when "Post" %}
        <i class="category-icon far fa-comment-alt"></i>
    {% when "Tinta en las Cintas" %}
        <i class="category-icon fas fa-record-vinyl"></i>
    {% when "Tales" %}
        <i class="category-icon far fa-newspaper"></i>
    {% when "Video" %}
        <i class="category-icon fas fa-video"></i>
    {% when "Photos" %}
        <i class="far fa-images"></i>
    {% else %}
        <i class="category-icon fa fa-exclamation-circle"></i>
{% endcase %}

