
{% assign icon = post.category %}
{% case icon %}
    {% when "Post" %}
        <i class="category-icon fab fa-microblog"></i>
    {% when "Tinta en las Cintas" %}
        <img style="float: left; width: 32px; height: 32px; margin-right: 5px;" src="images/tintaenlascintas.svg" alt="Tinta en las Cintas article">
    {% when "Tales" %}
    <img style="float: left; width: 32px; height: 32px; margin-right: 5px;" src="images/typewriter.svg" alt="Fictionalized tales">
    {% when "Video" %}
        <i class="category-icon fas fa-video"></i>
    {% when "Photos" %}
        <i class="category-icon far fa-images"></i>
    {% when "Playlists" %}
        <i class="category-icon fab fa-spotify"></i>
    {% else %}
        <i class="category-icon fa fa-exclamation-circle"></i>
{% endcase %}

