
{% assign icon = post.category %}
{% case icon %}
    {% when "Post" %}
        <i class="category-icon fab fa-microblog"></i>
    {% when "On Music" %}
        <img style="float: left; margin-right: 5px;" width="32px" height="32px" src="images/tintaenlascintas.svg" alt="Tinta en las Cintas article">
    {% when "Tales" %}
        <i class="category-icon far fa-file-alt"></i>
    {% when "Video" %}
        <i class="category-icon fas fa-video"></i>
    {% when "Photos" %}
        <i class="category-icon far fa-images"></i>
    {% when "Playlist" %}
        <i class="category-icon fab fa-spotify"></i>
    {% else %}
        <i class="category-icon fa fa-exclamation-circle"></i>
{% endcase %}
