---
---
@import url("/assets/fonts/courier-prime.css");
$title-font: 'Courier Prime', monospace;
$body-font: 93.75%/1.5 'Courier Prime', monospace;
$text-color: black;
$text-link-color: #636363;
$background-color: white;


/*** General Styles ***/

body {
	font: $body-font;
	color: $text-color;
	background-color: $background-color;
}

.wrapper {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wide {
	width: 100%;	
}

.profile {
	padding: 0 5px;
	text-align: left;
	display: flow-root;
}

h1, h2, h3, h4 {
	font-family: $title-font;
}

a {
	color: $text-color;
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: dashed;
}

a:hover {
	color: $text-link-color;
}

.external:after {
	font-family: 'FontAwesome';
	content: " \f08e";
	font-size: 10px;
}

.post-linked {
	display: block;
}

blockquote {
	padding: 12px 0 0 24px;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 60px;
	left: -5px;
	line-height: 1;
	position: absolute;
	top: -5px;
}
blockquote p {
	text-align: left						;
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 30px;
	margin-right: 10px;
}

.button-alt {
	background-color: $text-color;
	color: $background-color;
	padding: 10px;;
	font-weight: bold;
	border: 1px solid $text-color;
	border-radius: 2px;
}

.button-alt:hover,.button-alt:active,.button-alt:focus {
	cursor: pointer;
	background-color: $background-color;
	color: $text-color;
}

.button {
	display: block;
	background-color: $background-color;
	color: $text-color;
	padding: 10px;;
	font-weight: bold;
	border: 1px solid $text-color;
	border-radius: 2px;
	margin-bottom: 30px;
}

.button:hover,.button:active,.button:focus {
	cursor: pointer;
	background-color: $text-color;
	color: $background-color;
}

/*** Header ***/
.logo-container {
	padding: 5px;
}

.logo {
	float: left;
	width: 96px;
	height: 96px;
	margin-right: 20px;
	background-size: cover;
	border-radius: 5%;
	-moz-border-radius: 5%;
	border: 2px solid $background-color;
	box-shadow: 0 0 0 3px $text-color;
}

.header-title {
	margin: 0;
}

.header-tagline {
	margin-top: 0;
}

/* Content */
.post {
	padding: 0;
	margin: 0;
}

.menu {
	padding: 0;
	margin-top: 30px;
}

.page-link {
	display: inline-block;
	list-style-type: none;
}
.page-link::before {
	content: "[";
	font-weight: bold;
}

.page-link::after {
	content: "]";
	font-weight: bold;
}
.content {
	padding-left: 10px;
	margin-top: 10px;
}

.content p {
	text-align: justify;
}

.content img {
	max-width: 100%;
}
.content-title {
	margin-top: 15px;
	margin-bottom: 0;
}

.content-grid {
	display: grid;
	padding: 10px
}

.post-info {
	margin-bottom: 20px;
}

.post-title-link {
	font-weight: bold;
	text-decoration: none;
	border: 0;
}

.post-date {
	display: block;
}

.post-footer {
	margin-bottom: 30px;
}

.icons-menu {
	margin-bottom: 30px;
}

.category-icon {
	float: left;
	font-size: 32px;
	margin-right: 10px;
}

.log-icon {
	float: left;
	padding: 5px; 
	width: 32px; 
	height: 32px;
}

/* Posts Page */

.posts {
	padding: 5px;
	border-radius: 2px;
	margin-bottom: 20px;
}

.posts:hover,.posts:active {
	background-color: $text-color;
	color: $background-color;	
	a {
		color: $background-color;
	}			
}

.title {
	font-size: 18px;
	font-weight: bold;
}
iframe {
	width: 80%;
	height: 380px;
	margin-top: 10px;
	margin-right: 10%;
	margin-left: 10%;
}

.bottom-menu {
	padding: 0;
}

.legend {
	display: block;
	background-color: $background-color;
	color: $text-color;
	padding: 10px;
	font-weight: bold;
	border: 1px solid $text-color;
	border-radius: 2px;
	margin-bottom: 30px;
}

.playlist-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.playlist-cover {
	height: 240px;
	width: 240px;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
}

// Form

label {
    display: inherit;
}

textarea {
	max-width: 95%;
  }	

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 5% 5% 0 0;
	}
	.content {
		margin-top: 30px;
	}
	.menu {
		margin: 0;
	}
}

@media (min-width: 480px) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 5% auto 0 auto;
	}
	.content {
		margin-top: 20px;
	}
	.category-icon {
		width: 28px;
		height: 28px;
		margin-right: 10px;
	}
}