<!DOCTYPE html>
{% if page.language == "es" %}
<html lang="es">{% else %}
<html lang="en">
{% endif %}
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.layout == "base" %}{{ site.name }} | {{ site.tagline }}
      {% else %}{{ page.title }} | {{ site.author }}{% endif %}</title>

      <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.logo }}" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/main.css">
    <script src="https://kit.fontawesome.com/1c89f352fb.js" crossorigin="anonymous"></script>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
        {% if page.layout == "base" %}
        {% include profile.html %}    
        {% endif %}    
        <div class="content {{ page.layout }}">
        {% include content.html %} 
        </div>
        {% include footer.html %}
    </div>
  </body>
</html>
